<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class=" font-sans">
    <section class="flex flex-col items-center mt-12">
      <img src="/static/products/404.jpeg" class="w-full h-full" alt="KICKS" class="w-150 h-auto">
        <a class="text-black px-6 py-3 bg-gray-800 text-white italic" href="/home"> Back to Home</a>
    </section>
  </body>
</html>