<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
  </head>
  <body>
  {% include "components/navbar.html.jinja" %}
<h1 class=" text-3xl text-center underline text-yellow-400 text-semibold"> Browse </h1>
<br>
<hr>
<div class="bg-yellow-100">
<main class="grid grid-cols-4 gap-4 mx-2 p-7 mb-5 bg-">
    {% for x in products %}
    <a href="/product/{{ x['ID'] }}" class="grid p-2 gap-2">
        <div class="grid hover:scale-108 hover:bg-gray-300 border-2">
            <img class="max-h-48 justify-items-center max-w-40" src="{{x['Image']}}"> <br>
            <p class="text-xl">{{x["Name"]}} </p> <br>
            <p> ${{x["Cost"]}} </p> <br>
             <p>Size: {{x["Size"]}}</p>
    </div>
    </a>
    {% endfor %}
</main>
  </body> 
</html></div>