<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
  </head>
  <body>
  {% include "components/navbar.html.jinja" %}
<div class="max-w-7xl mx-auto px-1 bg-yellow-100 py-10">
    <h1 class="text-3xl text-font-bold mb-8 text-purple-300 underline italic">Browse Sneakers</h1>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
        {% for x in products %}
        <a href="/product/{{ x['ID'] }}" 
           class="group bg-white rounded-xl shadow hover:shadow-xl transition-all duration-300 p-4 border border-gray-200">

            <div class="overflow-hidden rounded-lg">
                <img src="{{ x['Image'] }}" 
                     class="w-full h-48 object-contain transition-transform duration-300 group-hover:scale-105" />
            </div>

            <div class="mt-4 space-y-1">
                <p class="text-lg font-semibold group-hover:text-gray-700">
                    {{ x["Name"] }}
                </p>

                <p class="text-gray-600 font-medium">
                    Price: ${{ x["Cost"] }}
                </p>
            </div>

        </a>
        {% endfor %}
    </div>
</div>

  </body> 
</html></div>