<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
  </head>
  <body>
  {% include "components/navbar.html.jinja" %}

<h1 class="text-4xl text-center underline text-yellow-400"> Cart </h1>
<br>
<hr class="border-2">
<br> 
<div class="grid ml-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {% for x in cart %}
    <div class="border p-4">

      <img class="max-h-48 mx-auto py-2" src="{{ x['Image'] }}">

      <div class="mt-2">{{ x["Name"] }}</div>
      <div>${{ x["Cost"] }}</div>
      <div>Size: {{ x["Size"] }}</div>

      <form method="post" action="/cart/{{ x['ProductID'] }}/update_qty" class="mt-2">
        <input
          name="qty"
          type="number"
          value="{{ x['Quantity'] }}"
          class="border px-1 py-0.5 w-16"
        >
        <button type="submit" class="shadow border cursor-pointer py-1 px-2 ml-2">
          Update
        </button>
      </form>

      <p class="mt-4 text-xl">
        Subtotal: ${{ x['Cost'] * x['Quantity'] }}
      </p>

    </div>
  {% endfor %}
</div>


<br>
 <a class="text-3xl ml-3 shadow border px-3 py-3 font-bold italic" href="/checkout"> Checkout
  </a>