<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
  </head>
  <body>
  {% include "components/navbar.html.jinja" %}

<h1 class="text-4xl text-center underline text-yellow-400"> Cart </h1>
<br> 
<div class="grid grid-rows-15 border"></div>
  {% for x in cart %}
<div class=" border m-4 w-120 grid grid-cols-2ml-15 gap-3 ">
  <img class="max-h-48 justify-items-center max-w-40" src="{{x['Image']}}"> 
  <br>
  <br>

  <div class="">
  {{x["Name"]}}
  </div>

  <div>
  ${{x["Cost"]}}
   </div>

  <div>
  Size:{{x["Size"]}}
  </div>

  
<form method="post" action="/cart/{{ x['ProductID'] }}/update_qty">
  <input name="qty" type="number" value="{{x['Quantity']}}" class="border ml-0.5"> 
  <button type="submit">Update</button>
</form>

  <div>
  <p class="mt-12 ml-0.5 text-2xl">Total: ${{ x['Cost'] * x['Quantity'] }}</p>
  <br>
  </div>
</div> 
 
 <a class="text-3xl font-bold font-heading italic" href="/checkout">
          Checkout
        </a>
 {% endfor %}
 