<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body>
    {% include "components/navbar.html.jinja" %}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">
    <div>
    {% for x in cart %}
  <div class="border p-4 m-4 grid grid-cols-2 gap-4 max-w-xl">
    <img class="max-h-48 max-w-40 object-cover" src="{{ x['Image'] }}" />

    <div>
      <p class="font-semibold text-lg">{{ x["Name"] }}</p>
      <p>${{ x["Cost"] }}</p>
      <p>Size: {{ x["Size"] }}</p>
      <p class="mt-4 font-bold">
        Total: ${{ x['Cost'] * x['Quantity'] }}
      </p>
    </div>
  </div>
{% endfor %}
  </div>
<div class="grid justify-end mr-120">
<form action="/checkout" method="post" class="max-w-xl m-4 px-33 py-3 grid gap-4">

  <label>Address</label>
  <input name="address" type="address" required class="border px-2">

  <label class="font-bold text-2xl">Card Information</label>
   <label>Name on Card</label>
  <input name="name" required type="text" class="border px-2 ">

  <label>Card Number</label>
  <input name="card_number" required type="text" class="border px-2">

<label>Expir</label>
<input name="ex" type="month" 
required class="border px-2">


  <label>Security Code</label>
  <input name="security_code" required type="text" min="1" max="4" class="border px-2 ">

  <button
    type="submit"
    action="/"
    class="px-6 py-3 bg-green-600 text-white text-2xl font-bold italic rounded">
    Place Order
  </button>
</form>
</div>
</div>
  </body>
</html>
