<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
  {% include "components/navbar.html.jinja" %}

  <h1 class="text-center text-4xl text-semibold text-blue-300 underline "> Whats New</h1>
  <article class="grid"> 
  
  </article>
  </body> 
</html>