<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
  {% include "components/navbar.html.jinja" %}

  <section class="pt-13">
  <h2 class="font-bold text-3xl text-center text-dark mb-8 px-4">
    Our Newest Releases
  </h2>

 
  <div class="max-w-5xl mx-auto grid grid-cols-3 gap-18 mb-10 px-6 py-6">

    
    <div class="rounded overflow-hidden border-2 hover:scale-105 transition">
      <img class="w-full h-55 object-contain transition-transform duration-300 group-hover:scale-105"src="/static/products/gamma.webp" alt="Gamma 11s" class="w-400">
      <div class="p-4 text-center">
        <h3 class="font-semibold text-xl mb-2">Gamma 11's</h3>
        <p>Release Date: December 13, 2025</p>
      </div>
    </div>

    
    <div class="rounded overflow-hidden border-2 hover:scale-105 transition">
      <img class="w-full h-55 object-contain transition-transform duration-300 group-hover:scale-105"src="/static/products/blackcat.webp" alt="Black Cat">
      <div class="p-4 text-center">
        <h3 class="font-semibold text-xl mb-2">Black Cat</h3>
        <p>Release Date: November 28, 2025</p>
      </div>
    </div>

    <div class="rounded overflow-hidden border-2 hover:scale-105 transition">  
    <img class="w-50 px-2 h-55 object-contain transition-transform duration-300 group-hover:scale-105" src="/static/products/bug.webp" alt="bug">
      <div class="p-4 text-center">
        <h3 class="font-semibold text-xl mb-2">Bugs Bunny</h3>
        <p>Release Date: December 20, 2025</p> 
      </div>
    </div>

  </div>
  <br>
  <hr class="border-1 dotted">
</section>
  </body> 
</html> 