<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
  </head>
  <body>
  {% include "components/navbar.html.jinja" %}
    {% for message in get_flashed_messages() %}
            <li> {{message}} </li>
        {% endfor %}
<div class="min-h-screen bg-gray-100 text-gray-900 flex item-center justify-center">
  <div class="p-12 mx-auto">
<form method="post">
    <h1 class="font-bold bg-gray-100 text-center py-4 text-3xl mb-5">LOGIN</h1>  
    <div class=" shadow w-150 justify-items-center rounded-lg ">
      <div class="px-3 py-5">

        <label class="font-semibold text-sm text-gray-600 pb-1">E-mail</label>
        <input name="email" required type="text" class="border-1 rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />

        <label class="font-semibold text-sm text-gray-600 pb-1">Password</label>
        <input name="password" required type="password" class="border-1 rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />

        <button type="submit" class="bg-blue-500 focus:bg-blue-700 border focus:ring-2 text-white w-full py-2.5 text-md shadow-sm font-semibold text-center">
            <span class="inline-block mr-2 p-2">Login</span>
        </button>

      </div>

      <div class="py-4">
        <div class="grid grid-cols-2 gap-1 ml-30">
          <div class="text-start whitespace-nowrap">
            
            <p class="hover:bg-gray-100 focus:ring-2 border py-3 px-4 focus:ring-gray-400">         <a href="{{ url_for('signup') }}">Sign up here</a></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
</form>


  </body> 
</html>