<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
  
  {% include "components/navbar.html.jinja" %}
  
   <div class="border-2 bg-white mt-16 max-w-7xl w mx-auto p-8 flex gap-10">

    <img
        src="{{ product['Image'] }}"
        alt="{{ product['Name'] }}"
        class="w-80 h-80 object-contain"
    >

    <div>
        <h1 class="text-2xl font-semibold mt-6 text-gray-900">
            {{ product["Name"] }}
        </h1>

        <p class="mt-6 text-lg">$ {{ product["Cost"] }}</p>
        <p class="mt-6">Size: {{ product["Size"] }}</p>

        <form method="post" action="/product/{{ product['ID'] }}/add_to_cart" class="mt-6">
            <label>Qty:</label>
            <input type="number" name="qty" value="1" min="1" max="4" class="border ml-2 w-16">
            <button type="submit" class="block mt-4 h-10 px-6 font-semibold border hover:bg-gray-200 rounded inline-block py-2"> Add to cart </button>
        </form>
        <h2>Customer Reviews</h2>

{% for review in reviews %}
  <div class="review">
    <strong>{{ review.UserID}}</strong>
    <span>⭐ {{ review.rating }}/5</span>
    <p>{{ review.comment }}</p>
    <small>{{ review.created_at }}</small>
  </div>
{% else %}
  <p>No reviews yet.</p>
{% endfor %}
    </div>

</div>

    
  </body>   
</html> 