<div class="flex flex-wrap h-screen curved">
  <section class="relative mx-auto">
      
    <nav class="flex justify-between bg-gray-900 text-white w-screen">
      <div class="px-5 xl:px-12 py-6 flex w-full items-center">
        <a class="text-3xl font-bold font-heading italic" href="/">
          Prime Kicks 
        </a>
        
        <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
          <li><a class="hover:text-gray-200" href="/home">Home</a></li>
          <li><a class="hover:text-gray-200" href="/upcoming"></a>Releases</li>
          <li><a class="hover:text-gray-200" href="/product">Shop</a></li>
          <li><a class="hover:text-gray-200" href="/contact">Contact Us</a></li>
        </ul>
    
       
          
        </div>
      </div>
    </nav>
    <br>
    <p class="text-center text-4xl text-semibold text-blue-300 underline "> Whats New</p>
  </section>
</div>


   




