 <nav class="flex justify-between bg-gray-800 text-white w-screen">
 <title>Prime Kicks</title>
    <div class="px-5 py-7 flex w-full items-center">
      <a class="text-3xl font-bold font-heading italic" href="/"> Prime Kicks </a>

  <ul class="hidden md:flex px-8 mx-auto font-semibold font-heading space-x-12">
    <li><a class="hover:text-gray-400 italic hover:scale-105" href="/">Home</a></li>
    <li><a class="hover:text-gray-400 italic hover:scale-105" href="/browse">Shop</a></li>
    <li><a class="hover:text-gray-400 italic hover:scale-105" href="/contact">Contact Us</a></li>
  </ul>
    

  <div class="hidden xl:flex items-center space-x-3 items-center">
    <a class="flex items-center hover:text-gray-200" href="/cart">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
    </a>

        {% if not current_user.is_authenticated %}
         <a class="flex items-center hover:text-gray-200" href="/login">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
             </svg>
         </a> 
         {% else %}
<div class="relative group inline-block">
    
  <button class="flex items-center gap-2 hover:text-gray-200 cursor-pointer focus:outline-none">
    Hi {{ current_user.name }}
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
  </button>

<div class="absolute right-0 top-full mt-0 w-50 bg-white text-gray-900 rounded 
shadow-lg opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto transition">
  <ul >
    <li>
      <a href="/logout" class="block px-4 py-5 hover:bg-gray-100 text-yellow-400"> Logout
      </a>
    </li>
  </ul>
</div>

</div>
{% endif %} 
</div>
</div>
</nav>
<br> 
</section>
</div>
</div>
</div>
</nav>